POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

GLOURBEE_DATASTORE=/data
GLOURBEE_EE_JSONKEY=/app/earthengine-key.json
GLOURBEE_BROKER_URL=redis://broker:6379/0
GLOURBEE_EMAIL_FROM=
GLOURBEE_EMAIL_SERVER=
GLOURBEE_EMAIL_PORT=
GLOURBEE_EMAIL_USER=
GLOURBEE_EMAIL_PASSWORD=
GLOURBEE_DB_URI=postgresql://$POSTGRES_USER:$POSTGRES_PASSWORD@db/$POSTGRES_DB
GLOURBEE_ADMINISTRATOR_EMAIL=

FILESENDER_SCRIPT=/app/filesender/filesender.py
FILESENDER_BASE_URL=https://filesender.renater.fr/rest.php
FILESENDER_USERNAME=
FILESENDER_APIKEY=
FILESENDER_FROM=