numpy
geopandas
rasterio
scikit-image
earthengine-api
pandas
geemap
geedim
geetools==0.6.14 # mosaicSameDay deprecated in 1.0.0 :(
streamlit>=1.49.0
leafmap
psycopg2-binary
sqlalchemy
alembic
geoalchemy2
redis
celery[redis]